services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
  
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - mongo
  
  # scheduler:
  #   build: ./data-scheduler
  #   depends_on:
  #     - mongo
  #   restart: unless-stopped
  
  mongo:
    image: mongo:7
    ports:
    - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:


